  <mat-card class="example-card">
    <img 
      mat-card-image 
      [src]="product.images[0].url" 
      [alt]="product.name"
    >
    <mat-card-title> 
      {{ product?.name }} 
    </mat-card-title>
    <mat-card-content>
        <p> 
          <b>Рейтинг: </b> 
          {{ product?.rating | rate }}
        </p>
        <p>
            {{ product?.feedbacksCount }} отзыва
        </p>
        <p>
          {{ product?.price | currency: 'RUB ' }}
        </p>
    </mat-card-content>	
</mat-card>
